.colonne {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}
.ligne {
    
    flex: 100%;
    max-width: 100%;
}
.ligne img {
    vertical-align: middle;
    display: inline-block;
}