* {
    
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
    font-family: 'Nunito', sans-serif;
    /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
    background-color: #0d7e95;
}

body {
    padding: 0;
    margin: 0 auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}




header{
    position: fixed;
    top:0%;
    left:0px;
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background-color: #0d7e95;
    border: 0px solid black;
    color: white;
    z-index: 6;
    height: 80%;
}

header h1{
    top : 5%;
}

header nav {
    position: absolute;
    top:40%;
    margin: 0 auto;
    background-color: #0d7e95;
    padding: auto;
    border: 0px solid black;
    color: white;
    font-size: 30px;
    text-align: center;
    
}

section {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 0px solid black;
    float: left;
    left: 30%;
    z-index: 4;
}

footer {
    position: fixed;
    left:0px;
    display: flex;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    background-color: #0d7e95;
    padding: 0 20px 20px 20px;
    border: 0px solid black;
    top: 80%;
    float: left;
}





h2 {
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
    color: #0b6b7e;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


.centre {
    text-align: center;
    margin: 0 auto;
}

a {
    color:white;
}

section a {
    color:#0b6b7e;
}

.imgselect {

    inset: 0;
}

h3 {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: lighter;
}


h4 {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: bolder;
}

h4 a {
    color: black;
}

h5 {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: auto;
}
